body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
 }
 
 h1 {
    text-align: center;
    color: #333333;
 }
 
 #books-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
 }
 
 .book {
    width: 200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
 }
 
 .book img {
    width: 150px;
    height: 200px;
    margin: 10px auto;
    object-fit: cover;
 }
 
 .book h2 {
    margin-top: 0;
    color: #333333;
 }
 
 .book p {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666666;
 }